<?xml version="1.0"?>
<!--
/**
 * Smart E-commerce do Brasil Tecnologia LTDA
 *
 * INFORMAÇÕES SOBRE LICENÇA
 *
 * Open Software License (OSL 3.0).
 * http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * Não edite este arquivo caso você pretenda atualizar este módulo futuramente
 * para novas versões.
 *
 * @category    Esmart
 * @package     Esmart_AddressNormalization
 * @copyright   Copyright (c) 2013 Smart E-commerce do Brasil Tecnologia LTDA. (http://www.e-smart.com.br)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author     	Tiago Sampaio <tiago.sampaio@e-smart.com.br>
 */
-->
<config>
	<modules>
		<Esmart_AddressNormalization>
			<version>0.1.0.0</version>
		</Esmart_AddressNormalization>
	</modules>
	<global>
		<models>
			<esmart_addressnormalization>
				<class>Esmart_AddressNormalization_Model</class>
				<resourceModel>esmart_addressnormalization_resource</resourceModel>
			</esmart_addressnormalization>
			<esmart_addressnormalization_resource>
				<class>Esmart_AddressNormalization_Model_Resource</class>
			</esmart_addressnormalization_resource>
		</models>
		<resources>
			<esmart_addressnormalization_setup>
				<setup>
					<module>Esmart_AddressNormalization</module>
					<class>Esmart_AddressNormalization_Model_Resource_Setup</class>
				</setup>
			</esmart_addressnormalization_setup>
		</resources>
		<helpers>
			<esmart_addressnormalization>
				<class>Esmart_AddressNormalization_Helper</class>
			</esmart_addressnormalization>
		</helpers>
		<fieldsets>
			<customer_address>
				<address_number>
					<to_quote_address>*</to_quote_address>
				</address_number>
				<address_neighborhood>
					<to_quote_address>*</to_quote_address>
				</address_neighborhood>
				<address_complement>
					<to_quote_address>*</to_quote_address>
				</address_complement>
			</customer_address>
			<sales_convert_order_address>
				<address_number>
					<to_quote_address>*</to_quote_address>
				</address_number>
				<address_neighborhood>
					<to_quote_address>*</to_quote_address>
				</address_neighborhood>
				<address_complement>
					<to_quote_address>*</to_quote_address>
				</address_complement>
			</sales_convert_order_address>
			<sales_convert_quote_address>
				<address_number>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</address_number>
				<address_neighborhood>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</address_neighborhood>
				<address_complement>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</address_complement>
			</sales_convert_quote_address>
		</fieldsets>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<esmart_addressnormalization>
					<file>esmart/addressnormalization.xml</file>
				</esmart_addressnormalization>
			</updates>
		</layout>
		<translate>
			<modules>
				<esmart_addressnormalization>
					<files>
						<default>Esmart_AddressNormalization.csv</default>
					</files>
				</esmart_addressnormalization>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<esmart_addressnormalization>
					<file>esmart/addressnormalization.xml</file>
				</esmart_addressnormalization>
			</updates>
		</layout>
		<translate>
			<modules>
				<esmart_addressnormalization>
					<files>
						<default>Esmart_AddressNormalization.csv</default>
					</files>
				</esmart_addressnormalization>
			</modules>
		</translate>
	</frontend>
	<default>
		<customer>
			<address_templates>
				<text>{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if street1}}{{var street1}}{{/if}}{{if address_number}}, {{var address_number}}{{/if}}
{{if address_neighborhood}}{{var address_neighborhood}}{{/if}}
{{if address_complement}}{{var address_complement}}{{/if}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}
{{var country}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}</text>
				<oneline>{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var address_number}}, {{var address_neighborhood}}, {{var address_complement}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}</oneline>
				<html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}{{/if}}{{if address_number}}, {{var address_number}}{{/if}}<br />
{{if address_neighborhood}}{{var address_neighborhood}}<br />{{/if}}
{{if address_complement}}{{var address_complement}}<br />{{/if}}

{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}]]></html>
				<pdf><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if street1}}{{var street1}}{{/if}}{{if address_number}}, {{var address_number}}
{{/if}}
{{depend address_neighborhood}}{{var address_neighborhood}}|{{/depend}}
{{depend address_complement}}{{var address_complement}}|{{/depend}}
{{if city}}{{var city}},|{{/if}}
{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}|]]></pdf>
				<js_template><![CDATA[#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}, #{address_number}<br/>#{address_neighborhood}<br/>#{address_complement}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}<br/>VAT: #{vat_id}]]></js_template>
			</address_templates>
		</customer>
	</default>
</config>